*{
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
}

#background{
    display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
    position: fixed;
    left: 0px; 
    top: 0px; 
    z-index: -1;
    border-radius: 0px;
}

h1{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 3em;
    padding: 10px;
    margin-left: 5%;
	margin-right: 5%;
}

h1 span{
    font-size: 1.5em;
}

.scoreboard{
    background: radial-gradient(dimgrey, grey);
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5px;
    padding-bottom: 0;
    background: radial-gradient(grey, dimgrey);
}

#quote, #score{
    color: white;
    font-size: 1.25em;
    margin: 0;
    padding: 10px;
    border-radius: 0px;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.75);
}

#score{
    padding-bottom: 0;
}

#timeRim{
    padding-bottom: 10px;
}
#time{
    background-color: limegreen;
    height: 10px;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
}

.hint{
    color: white;
    padding: 2.5px;
    font-size: 1em;
    border-radius: 20px;
}

.hint{
    margin-left: 45%;
    margin-right: 45%;
    border: solid 0.5px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    background-color: grey;
    cursor: pointer;
}

.hint:hover{
    animation: hoverBtn 0.5s;
    animation-fill-mode: forwards;
}

.hint:active{
    animation: clickBtn 0.5s;
    animation-fill-mode: forwards;
}

#cards{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.character{
    position: relative;
    display: block;
    float: left;
    width: 140px;
    height: 140px;
    box-shadow: 3px 3px 20px rgba(0,0,0,.3);
    border: 2px solid #bbbbbb;
    padding: 5px;
    margin: 12px;
    left: 5px;
    cursor: pointer;
    margin-top: 0px;
    background-color: rgba(255,255,255,0.5);
}

.character img{
    position: relative;
    width: 85%;
    height: 80%;
}

.character p{
    position: absolute;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 18px;
    font-weight: bold;
    width: 95%;
    margin: 0px;
    bottom: 2px;
}

.character:hover{
    animation: hover 0.25s;
    animation-fill-mode: forwards;
}

.character:active{
    animation: click 0.25s;
    animation-fill-mode: forwards;
}

.inactive {
    background-color: grey;
    opacity: 0.3;
    cursor: default;
}

.inactive:hover{
    animation: none;
}

.inactive:active{
    animation: none;
}

@keyframes hover{
    100%{
        opacity: 0.85;
        transform: scale(1.1);
        background-color: rgba(135,206,250, 0.75);
    }
}

@keyframes click{
    100%{
        opacity: 1;
        transform: scale(0.8);
        background-color: rgba(135,206,250, 1);
    }
}

@keyframes hoverBtn{
    100%{
        transform: scale(1.1);
        background: darkgrey;
    }
}

@keyframes clickBtn{
    100%{
        transform: scale(0.95);
        background-color: dimgrey;
    }
}

@media only screen and (max-width: 1120px) {
    h1{
        font-size: 2em;
    }
    #quote{
        font-size: 1.2em;
    }
    .hint{
        margin-left: 37.5%;
        margin-right: 37.5%;
    }
    #cards{
        margin-left: 5%;
        margin-right: 5%;
    }
    .character{       
        width: 125px;
        height: 125px;
        margin: 3px;
    }
}

@media only screen and (max-width: 720px) {
    h1{
        font-size: 1.5em;
    }
    #quote{
        font-size: 1em;
    }
    #cards{
        margin-left: 5%;
        margin-right: 5%;
    }
    .character{
        margin: 1.5px;
        width: 100px;
        height: 100px;
    }
}